@media screen and (max-width: 633px) {
    * {
        box-sizing: border-box;
    }

    .carousel-inner {
        height: 30vh;
        width: 100vw;
    }

    .Traveling {
        position: relative;
        margin: 0 auto;
        min-height: 100%;
    }

    .Cooking {
        position: relative;
        margin: 0 auto;
        min-height: 100%;
    }

    .Fitness {
        position: relative;
        margin: 0 auto;
        min-height: 100%;
        
    }

    .Learning {
        position: relative;
        margin: 0 auto;
        min-height: 100%;
    }

    .carousel-caption {
        border: 1px solid black;
        background-color: rgba(39, 39, 39, 0.8);
        height: 25%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }

    .caption-text {
        top: 2%;
        font-size: 10px;
    }

    .carousel-control-prev {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 2vw;
        width: 55px;
        height: 55px;
    }

    .carousel-control-next {
        top: 50%;
        transform: translateY(-50%);
        margin-right: 2vw;
        width: 55px;
        height: 55px;
    }
}

@media screen and (min-width: 633px) and (max-height: 575px) {
    * {
        box-sizing: border-box;
    }

    .carousel-inner {
        height: 100vh;
        width: 100vw;
    }

    .Traveling {
        position: relative;
        margin: 0 auto;
        height: 100%;
    }

    .Cooking {
        position: relative;
        margin: 0 auto;
        height: 100%;
    }

    .Fitness {
        position: relative;
        margin: 0 auto;
        height: 100%;

    }

    .Learning {
        position: relative;
        margin: 0 auto;
        height: 100%;
    }

    .carousel-caption {
        border: 1px solid black;
        background-color: rgba(39, 39, 39, 0.8);
        height: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }

    .caption-text {
        top: 2%;
        font-size: 10px;
    }

    .carousel-control-prev {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 2vw;
        width: 55px;
        height: 55px;
    }

    .carousel-control-next {
        top: 50%;
        transform: translateY(-50%);
        margin-right: 2vw;
        width: 55px;
        height: 55px;
    }
}

@media screen and (min-width: 633px) and (min-height: 575px) {
    * {
        box-sizing: border-box;
    }

    .carousel-inner {
        height: 50vh;
        width: 100vw;
    }

    .Traveling {
        position: relative;
        margin: 0 auto;
        min-height: 100%;
    }

    .Cooking {
        position: relative;
        margin: 0 auto;
        min-height: 100%;
    }

    .Fitness {
        position: relative;
        margin: 0 auto;
        min-height: 100%;
        
    }

    .Learning {
        position: relative;
        margin: 0 auto;
        min-height: 100%;
    }

    .carousel-caption {
        display: flex;
        align-items: center;
        border: 1px solid black;
        background-color: rgba(39, 39, 39, 0.8);
        height: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }

    .caption-text {
        font-size: 14px;
    }

    .carousel-control-prev {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 2vw;
        width: 55px;
        height: 55px;
    }

    .carousel-control-next {
        top: 50%;
        transform: translateY(-50%);
        margin-right: 2vw;
        width: 55px;
        height: 55px;
    }
}

@media screen and (min-width: 900px) {
    * {
        box-sizing: border-box;
    }

    .carousel-inner {
        height: 100vh;
        width: 100vw;
    }

    .carousel-item {
        border: 2px solid orangered;
        position: relative;
        align-items: center;
        height: 100%;
    }

    .Traveling {
        position: relative;
        margin: 0 auto;
        height: 100%;
    }

    .Cooking {
        position: relative;
        margin: 0 auto;
        height: 100%;
    }

    .Fitness {
        position: relative;
        margin: 0 auto;
        height: 100%;
    }

    .Learning {
        position: relative;
        margin: 0 auto;
        height: 100%;
    }

    .carousel-caption {
        border: 1px solid black;
        background-color: rgba(39, 39, 39, 0.8);
        height: 15%;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
    }

    .caption-text {
        font-size: 18px;
    }

    .carousel-control-prev {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 2vw;
        width: 55px;
        height: 55px;
    }

    .carousel-control-next {
        top: 50%;
        transform: translateY(-50%);
        margin-right: 2vw;
        width: 55px;
        height: 55px;
    }
} 

@media screen and (min-width: 1500px) {
    * {
        box-sizing: border-box;
    }

    .carousel-inner {
        height: 100vh;
        width: 100vw;
    }

    .carousel-item {
        position: relative;
        align-items: center;
    }

    .Traveling {
        position: relative;
        margin: 0 auto;
        min-height: 100vh;
    }

    .Cooking {
        position: relative;
        margin: 0 auto;
        min-height: 100vh;
    }

    .Fitness {
        position: relative;
        margin: 0 auto;
        min-height: 100vh;
    }

    .Learning {
        position: relative;
        margin: 0 auto;
        min-height: 100vh;
    }

    .carousel-caption {
        border: 1px solid black;
        background-color: rgba(39, 39, 39, 0.8);
        height: 15%;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
    }

    .caption-text {
        font-size: 24px;
    }

    .carousel-control-prev {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 2vw;
        border: 1px solid black;
        border-radius: 50%;
        background-color: rgba(39, 39, 39, 0.8);
        width: 55px;
        height: 55px;
    }

    .carousel-control-next {
        top: 50%;
        transform: translateY(-50%);
        margin-right: 2vw;
        border: 1px solid black;
        border-radius: 50%;
        background-color: rgba(39, 39, 39, 0.8);
        width: 55px;
        height: 55px;
    }
}
