html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}

.carousel {
    height: 25%;
    width: 100%;
}

.carousel-inner {
    height: 100%;
    width: 100%;
}

.carousel-item {
    border: 1px solid red;
    height: 100%;
    width: 100%;
}

img {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    background-color: rgb(19, 19, 19);
    border-top: 1px solid rgb(158, 158, 158);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    padding: 3%;
}

p {
    color: rgb(153, 153, 153);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 8px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    html,
    body {
        height: 100%;
    }

    .carousel-caption {
        background-color: rgb(19, 19, 19);
        border-top: 1px solid rgb(158, 158, 158);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%;
        padding: 2%;
    }

    p {
        color: rgb(153, 153, 153);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 8px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    html,
    body {
        width: 100%;
        height: 100%;
    }

    .carousel, .carousel-inner, .carousel-item, img {
        width: 100%;
        height: 100%;
    }

    .carousel-caption {
        background-color: rgb(19, 19, 19);
        border-top: 1px solid rgb(158, 158, 158);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%;
        padding: 2%;
    }

    p {
        color: rgb(153, 153, 153);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 10px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }
}

@media (min-width: 768px) and (min-height: 650px) {
    html,
    body {
        height: 100%;
    }

    .carousel, .carousel-inner, .carousel-item, img {
        height: 100%;
    }

    .carousel-caption {
        background-color: rgb(19, 19, 19);
        border-top: 1px solid rgb(158, 158, 158);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%;
        padding: 2%;
    }

    p {
        color: rgb(153, 153, 153);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    html,
    body {
        height: 100%;
    }

    .carousel, .carousel-inner, .carousel-item, img {
        width: 100%;
        height: 100%;
    }

    .carousel-caption {
        background-color: rgb(19, 19, 19);
        border-top: 1px solid rgb(158, 158, 158);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%;
        padding: 2%;
    }

    p {
        color: rgb(153, 153, 153);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 10px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    html,
    body {
        height: 100%;
    }
    
    .carousel-caption {
        background-color: rgb(19, 19, 19);
        border-top: 1px solid rgb(158, 158, 158);
        position: absolute;
        width: 100%;
        height: 20%;
        padding: 2%;
    }

    p {
        color: rgb(153, 153, 153);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 12px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    html,
    body {
        height: 100%;
    }

    .carousel-caption {
        background-color: rgb(19, 19, 19);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%;
        padding: 2%;
    }

    p {
        color: rgb(153, 153, 153);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 12px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }
}


