img {
    height: 100vh;
}

.carousel-caption {
    background-color: rgb(19, 19, 19);
    border-top: 1px solid rgb(158, 158, 158);
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 100%;
    height: 20%;
    padding: 2%;
}

p {
    color: rgb(230, 215, 197);
}




