html,
body {
    height: 100%;
}

body {
    background-color: rgb(8, 8, 8);
}

.carousel {
    height: 100%;
    display: flex;
    align-items: center;
}

img {
    height: 40%;
}

.carousel-caption {
    background-color: rgb(19, 19, 19);
    border-top: 1px solid rgb(158, 158, 158);
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 100%;
    height: 20%;
    padding: 3%;
}

p {
    color: rgb(153, 153, 153);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    html,
    body {
        height: 100%;
    }

    img {
        height: 100%;
    }

    .carousel-caption {
        background-color: rgb(19, 19, 19);
        border-top: 1px solid rgb(158, 158, 158);
        position: absolute;
        bottom: 0;
        left: 0;
        min-width: 100%;
        height: 20%;
        padding: 2%;
    }

    p {
        color: rgb(153, 153, 153);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 8px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    html {
        height: -webkit-fill-available;
        height: fill-available;
    }

    body {
        height: -webkit-fill-available;
        height: fill-available;
    }

    img {
        height: 100vh;
    }

    .carousel-caption {
        background-color: rgb(19, 19, 19);
        border-top: 1px solid rgb(158, 158, 158);
        position: absolute;
        bottom: 0;
        left: 0;
        min-width: 100%;
        height: 20%;
        padding: 2%;
    }

    p {
        color: rgb(153, 153, 153);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 12px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (min-width: 768px) and (min-height: 650px) {
    body {
        background-color: rgb(8, 8, 8);
    }

    .carousel {
        height: 100vh;
        display: flex;
        align-items: center;
    }

    img {
        height: 50vh;
    }

    .carousel-caption {
        background-color: rgb(19, 19, 19);
        border-top: 1px solid rgb(158, 158, 158);
        position: absolute;
        bottom: 0;
        left: 0;
        min-width: 100%;
        height: 20%;
        padding: 2%;
    }

    p {
        color: rgb(153, 153, 153);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 12px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .carousel-caption {
        background-color: rgb(19, 19, 19);
        border-top: 1px solid rgb(158, 158, 158);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%;
        padding: 2%;
    }

    p {
        color: rgb(153, 153, 153);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    img {
        height: 100vh;
    }

    .carousel-caption {
        background-color: rgb(19, 19, 19);
        border-top: 1px solid rgb(158, 158, 158);
        position: absolute;
        width: 100%;
        height: 20%;
        padding: 2%;
    }

    p {
        color: rgb(153, 153, 153);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    img {
        height: 100vh;
    }

    .carousel-caption {
        background-color: rgb(19, 19, 19);
        border-top: 1px solid rgb(214, 0, 0);
        position: absolute;
        bottom: 0;
        left: 0;
        min-width: 100%;
        height: 20%;
        padding: 2%;
    }

    p {
        color: rgb(153, 153, 153);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}


