@media screen and (max-width: 539px) {
    * {
      box-sizing: border-box;
    }
  
    html {
      height: 100%;
    }
  
    body {
      height: 100%;
      margin: 0;
      padding: 0;
      background-image: url('Portfolio Project Pictures/Home Page Background.jpg');
      background-size: cover;
    }
  
    .nav-box {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      left: -100%;
      min-width: 100%;
      min-height: 100%;
      background-color: rgb(182, 14, 182);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease;
    }
  
    .nav-text {
      margin: 30px;
      color: white;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
    }
  
    hr {
      width: 45%;
    }
  
    .nav-box.open {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      left: 0;
    }
  
    .top-wrapper {
      position: relative;
      height: 150px;
    }
  
    h3 {
      position: absolute;
      margin: 0 auto;
      text-align: center;
      transform: translateX(-50%);
      width: 300px;
      bottom: 10px;
      left: 50%;
      color: transparent;
      font-family: 'Tangerine', cursive;
      font-size: 64px;
      -webkit-text-stroke: 1.25px black;
    }
  
    .menu-btn {
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      border: 1px solid white;
      top: 20px;
      left: 20px;
      height: 30px;
      width: 30px;
      transition: all 0.5s ease-in-out;
      cursor: pointer;
    }
  
    .menu-btn-icon {
      z-index: 10;
      width: 20px;
      height: 3px;
      background: white;
      border-radius: 3px;
      transition: all 0.5s ease-in-out;
    }
  
    .menu-btn-icon::before,
    .menu-btn-icon::after {
      z-index: 10;
      content: '';
      position: absolute;
      width: 20px;
      height: 3px;
      background: white;
      border-radius: 3px;
      transition: all 0.5s ease-in-out;
    }
  
    .menu-btn-icon::before {
      transform: translateY(-8px);
    }
  
    .menu-btn-icon::after {
      transform: translateY(8px);
    }
  
    .menu-btn.open .menu-btn-icon {
      background-color: transparent;
    }
  
    .menu-btn.open .menu-btn-icon::before {
      transform: rotate(45deg) translate(0.5px, -0.5px);
    }
  
    .menu-btn.open .menu-btn-icon::after {
      transform: rotate(-45deg) translate(0.5px, 0.5px);
    }
}
  
@media screen and (min-width: 540px) {
    * {
      box-sizing: border-box;
    }
  
    html {
      height: 100%;
    }
  
    body {
      height: 100%;
      margin: 0;
      padding: 0;
      background-image: url('Portfolio Project Pictures/Home Page Background.jpg');
      background-size: cover;
    }
  
    .nav-box {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      left: -100%;
      min-width: 100%;
      min-height: 100%;
      background-color: rgb(182, 14, 182);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease;
    }
  
    .nav-text {
      margin: 30px;
      color: white;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
    }
  
    hr {
      width: 45%;
    }
  
    .nav-box.open {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      left: 0;
    }
  
    .top-wrapper {
      position: relative;
      height: 150px;
    }
  
    h3 {
      position: absolute;
      margin: 0 auto;
      text-align: center;
      transform: translateX(-50%);
      width: 300px;
      bottom: 10px;
      left: 50%;
      color: transparent;
      font-family: 'Tangerine', cursive;
      font-size: 64px;
      -webkit-text-stroke: 1.25px black;
    }
  
    .menu-btn {
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      border: 1px solid white;
      top: 20px;
      left: 20px;
      height: 30px;
      width: 30px;
      margin: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
      transition: all 0.5s ease-in-out;
      cursor: pointer;
    }
  
    .menu-btn-icon {
      z-index: 10;
      width: 20px;
      height: 3px;
      background: white;
      border-radius: 3px;
      transition: all 0.5s ease-in-out;
    }
  
    .menu-btn-icon::before,
    .menu-btn-icon::after {
      z-index: 10;
      content: '';
      position: absolute;
      width: 20px;
      height: 3px;
      background: white;
      border-radius: 3px;
      transition: all 0.5s ease-in-out;
    }
  
    .menu-btn-icon::before {
      transform: translateY(-8px);
    }
  
    .menu-btn-icon::after {
      transform: translateY(8px);
    }
  
    .menu-btn.open .menu-btn-icon {
      background-color: transparent;
    }
  
    .menu-btn.open .menu-btn-icon::before {
      transform: rotate(45deg) translate(0.5px, -0.5px);
    }
  
    .menu-btn.open .menu-btn-icon::after {
      transform: rotate(-45deg) translate(0.5px, 0.5px);
    }
}
  
@media screen and (min-width: 690px) and (max-height: 650px) {
    * {
      box-sizing: border-box;
    }
  
    html {
      height: 100%;
    }
  
    body {
      height: 100%;
      margin: 0;
      padding: 0;
      background-image: url('Portfolio Project Pictures/Home Page Background.jpg');
      background-size: cover;
    }
  
    .nav-box {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      left: -100%;
      min-width: 100%;
      min-height: 100%;
      background-color: rgb(182, 14, 182);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease;
    }
  
    .nav-text {
      margin: 10px;
      color: white;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
    }
  
    hr {
      width: 35%;
    }
  
    .nav-box.open {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      left: 0;
    }
  
    .top-wrapper {
      position: relative;
      height: 150px;
    }
  
    h3 {
      position: absolute;
      margin: 0 auto;
      text-align: center;
      transform: translateX(-50%);
      width: 300px;
      bottom: 10px;
      left: 50%;
      color: transparent;
      font-family: 'Tangerine', cursive;
      font-size: 68px;
      -webkit-text-stroke: 1.5px black;
    }
  
    .menu-btn {
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      border: 1px solid white;
      top: 20px;
      left: 20px;
      height: 30px;
      width: 30px;
      transition: all 0.5s ease-in-out;
      cursor: pointer;
    }
  
    .menu-btn-icon {
      z-index: 10;
      width: 20px;
      height: 3px;
      background: white;
      border-radius: 3px;
      transition: all 0.5s ease-in-out;
    }
  
    .menu-btn-icon::before,
    .menu-btn-icon::after {
      z-index: 10;
      content: '';
      position: absolute;
      width: 20px;
      height: 3px;
      background: white;
      border-radius: 3px;
      transition: all 0.5s ease-in-out;
    }
  
    .menu-btn-icon::before {
      transform: translateY(-8px);
    }
  
    .menu-btn-icon::after {
      transform: translateY(8px);
    }
  
    .menu-btn.open .menu-btn-icon {
      background-color: transparent;
    }
  
    .menu-btn.open .menu-btn-icon::before {
      transform: rotate(45deg) translate(0.5px, -0.5px);
    }
  
    .menu-btn.open .menu-btn-icon::after {
      transform: rotate(-45deg) translate(0.5px, 0.5px);
    }
}
  
@media screen and (min-width: 690px) and (min-height: 651px) {
    * {
      box-sizing: border-box;
    }
  
    html {
      height: 100%;
    }
  
    body {
      height: 100%;
      margin: 0;
      padding: 0;
      background-image: url('Portfolio Project Pictures/Home Page Background.jpg');
      background-size: cover;
    }
  
    .nav-box {
      position: absolute;
      z-index: 5;
      width: 100%;
      height: 100%;
      left: -100%;
      min-width: 100%;
      min-height: 100%;
      background-color: rgb(182, 14, 182);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease;
    }
  
    .nav-text {
      margin: 30px;
      color: white;
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
    }
  
    hr {
      width: 45%;
    }
  
    .nav-box.open {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      left: 0;
    }
  
    .top-wrapper {
      position: relative;
      height: 150px;
    }
  
    h3 {
      z-index: 1;
      position: absolute;
      margin: 0 auto;
      text-align: center;
      transform: translateX(-50%);
      width: 300px;
      bottom: -50px;
      left: 50%;
      color: transparent;
      font-family: 'Tangerine', cursive;
      font-size: 68px;
      -webkit-text-stroke: 1.5px black;
    }
  
    .menu-btn {
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      border: 1px solid white;
      top: 30px;
      left: 30px;
      height: 30px;
      width: 30px;
      transition: all 0.5s ease-in-out;
      cursor: pointer;
    }
  
    .menu-btn-icon {
      z-index: 10;
      width: 20px;
      height: 3px;
      background: white;
      border-radius: 3px;
      transition: all 0.5s ease-in-out;
    }
  
    .menu-btn-icon::before,
    .menu-btn-icon::after {
      z-index: 10;
      content: '';
      position: absolute;
      width: 20px;
      height: 3px;
      background: white;
      border-radius: 3px;
      transition: all 0.5s ease-in-out;
    }
  
    .menu-btn-icon::before {
      transform: translateY(-8px);
    }
  
    .menu-btn-icon::after {
      transform: translateY(8px);
    }
  
    .menu-btn.open .menu-btn-icon {
      background-color: transparent;
    }
  
    .menu-btn.open .menu-btn-icon::before {
      transform: rotate(45deg) translate(0.5px, -0.5px);
    }
  
    .menu-btn.open .menu-btn-icon::after {
      transform: rotate(-45deg) translate(0.5px, 0.5px);
    }
}
  
@media screen and (min-width: 1020px) {
    * {
      box-sizing: border-box;
    }
  
    html {
      height: 100%;
    }
  
    body {
      height: 100%;
      margin: 0;
      padding: 0;
      background-image: url('Portfolio Project Pictures/Home Page Background.jpg');
      background-size: cover;
    }
  
    .nav-box {
      position: absolute;
      z-index: 5;
      width: 35%;
      height: 100%;
      left: -100%;
      min-width: 35%;
      min-height: 100%;
      background-color: rgb(182, 14, 182);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease;
    }
  
    .nav-text {
      margin: 30px;
      color: white;
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
    }
  
    hr {
      width: 45%;
    }
  
    .nav-box.open {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      left: 0;
    }
  
    .top-wrapper {
      position: relative;
      height: 150px;
    }
  
    h3 {
      z-index: 1;
      position: absolute;
      margin: 0 auto;
      text-align: center;
      transform: translateX(-50%);
      width: 300px;
      bottom: -50px;
      left: 50%;
      color: transparent;
      font-family: 'Tangerine', cursive;
      font-size: 78px;
      -webkit-text-stroke: 1.5px black;
    }
  
    .menu-btn {
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      border: 1px solid white;
      top: 40px;
      left: 40px;
      height: 30px;
      width: 30px;
      transition: all 0.5s ease-in-out;
      cursor: pointer;
    }
  
    .menu-btn-icon {
      z-index: 10;
      width: 20px;
      height: 3px;
      background: white;
      border-radius: 3px;
      transition: all 0.5s ease-in-out;
    }
  
    .menu-btn-icon::before,
    .menu-btn-icon::after {
      z-index: 10;
      content: '';
      position: absolute;
      width: 20px;
      height: 3px;
      background: white;
      border-radius: 3px;
      transition: all 0.5s ease-in-out;
    }
  
    .menu-btn-icon::before {
      transform: translateY(-8px);
    }
  
    .menu-btn-icon::after {
      transform: translateY(8px);
    }
  
    .menu-btn.open .menu-btn-icon {
      background-color: transparent;
    }
  
    .menu-btn.open .menu-btn-icon::before {
      transform: rotate(45deg) translate(0.5px, -0.5px);
    }
  
    .menu-btn.open .menu-btn-icon::after {
      transform: rotate(-45deg) translate(0.5px, 0.5px);
    }
}
  
@media screen and (min-width: 2400px) {
    * {
      box-sizing: border-box;
    }
  
    html {
      height: 100%;
    }
  
    body {
      height: 100%;
      margin: 0;
      padding: 0;
      background-image: url('Portfolio Project Pictures/Home Page Background.jpg');
      background-size: cover;
    }
  
    .nav-box {
      position: absolute;
      z-index: 1;
      width: 35%;
      height: 100%;
      left: -100%;
      min-width: 35%;
      min-height: 100%;
      background-color: rgb(182, 14, 182);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease;
    }
  
    .nav-text {
      margin: 40px;
      color: white;
      font-size: 28px;
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
    }
  
    hr {
      width: 45%;
    }
  
    .nav-box.open {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      left: 0;
    }
  
    .top-wrapper {
      position: relative;
      height: 150px;
    }
  
    h3 {
      z-index: 1;
      position: absolute;
      margin: 0 auto;
      text-align: center;
      transform: translateX(-50%);
      width: 300px;
      bottom: -180px;
      left: 50%;
      color: transparent;
      font-family: 'Tangerine', cursive;
      font-size: 84px;
      -webkit-text-stroke: 1.75px black;
    }
  
    .menu-btn {
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      border: 1px solid white;
      top: 70px;
      left: 70px;
      height: 45px;
      width: 45px;
      transition: all 0.5s ease-in-out;
      cursor: pointer;
    }
  
    .menu-btn-icon {
      z-index: 10;
      width: 25px;
      height:4px;
      background: white;
      border-radius: 4px;
      transition: all 0.5s ease-in-out;
    }
  
    .menu-btn-icon::before,
    .menu-btn-icon::after {
      z-index: 10;
      content: '';
      position: absolute;
      width: 25px;
      height: 4px;
      background: white;
      border-radius: 4px;
      transition: all 0.5s ease-in-out;
    }
  
    .menu-btn-icon::before {
      transform: translateY(-10px);
    }
  
    .menu-btn-icon::after {
      transform: translateY(10px);
    }
  
    .menu-btn.open .menu-btn-icon {
      background-color: transparent;
    }
  
    .menu-btn.open .menu-btn-icon::before {
      transform: rotate(45deg) translate(0.5px, -0.5px);
    }
  
    .menu-btn.open .menu-btn-icon::after {
      transform: rotate(-45deg) translate(0.5px, 0.5px);
    }
}